# To better understand this file read this:
# https://docs.ionos.space/docs/github-actions-customization/

name: "Deploy Now: Execute Build"

on:
  workflow_call:
    inputs:
      site-url:
        required: true
        type: string
      branch-id:
        required: true
        type: string

env:
  DEPLOYMENT_FOLDER: .next

jobs:
# Please do not rename this job
  build-project:
    name: build boardgametools
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: v18.x

      - name: Build Node assets
        env:
          BGG_API_URL: ${{ secrets.BGG_API_URL }}
          BGG_AUTH_TOKEN: ${{ secrets.BGG_AUTH_TOKEN }}
          CI: true
          DATABASE_URL: file:./dev.db
          SITE_URL: ${{ inputs.site-url }}
          NEXTAUTH_URL: ${{ inputs.site-url }}
          NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
          NODE_ENV: production
        run: |
          npm ci
          npx prisma generate
          npm run build

# Please do not touch the following action
      - name: Store deployment content
        uses: ionos-deploy-now/artifact-action@v1
        with:
          api-key: ${{ secrets.IONOS_API_KEY }}
          service-host: api-eu.ionos.space
          project-id: 3d05dbb9-4704-47b9-a84e-e2d4250f7bcb
          branch-id: ${{ inputs.branch-id }}
          version: ${{ github.sha }}
          folder: ${{ env.DEPLOYMENT_FOLDER }}
          config-file: .deploy-now/boardgametools/config.yaml
          action: upload
